 <div class="container">
    <table class="table table-striped table-hover">
      <th> First Name </th>
      <th> Last Name </th>
      <th> Full Name </th>
      <th> Email </th>
      <th> Phone Number </th>
      <th> Japanese Phone Number </th>
      <th> Created </th>

      <tr>
        <td> <%= @contact.first_name %> </td>
        <td> <%= @contact.last_name %> </td>
        <td> <%= @contact.full_name %> </td>
        <td> <%= @contact.email %> </td>
        <td>  <%= @contact.phone_number %> </td>
        <td>  <%= @contact.japan_phone_code %> </td>
        <td> <%= @contact.friendly_created_at %> </td>
      </tr>
    
    </table>
  </div>
<div class="text-center">
  <div>
    <a href="/contacts"> click to go back to homepage! </a>
  </div>

  <div>
    <a href=<%="/contacts/#{@contact.id}/edit"%>> Edit Contacts </a>
  </div>

  <div>
    <%= link_to "Delete this contact", "/contacts/#{@contact.id}", method: :delete %>
  </div>
</div>